# Assignment - Python Warmup
Please follow the instructions in the assignment's PDF and fill in the code for each function.

In [3]:
import re
import numpy as np
import pandas as pd

## Exercise 1

In [19]:
def positionWord(filePath, position):
    wordslist=[]
    with open(filePath,'r') as f:
        file=f.readlines()
        for i in range(len(file)):
            line=re.sub('/n','',file[i])
            linewords=re.sub('[^A-Za-z0-9 ]','',line)
            wordslist.append(linewords.split()[position])    
    return wordslist

In [20]:
positionWord('example.txt',2)

['endeavoured', 'the', 'of', 'season', 'no']

## Exercise 2

In [4]:
def onlyUpperCase(text):
    word=re.sub('[^A-Z]','',text)
    return word

In [5]:
onlyUpperCase("lorem ipsum Dolor Sit amet, conSectetur.")

'DSS'

## Exercise 3

In [6]:
def divisors(num1, num2):
    numlist=[]
    for i in range(1,num1+1):
        if i%num2==0:
            numlist.append(i)
    return numlist

In [7]:
divisors(23, 6)

[6, 12, 18]

## Exercise 4

In [8]:
def countWords(wordList):
    dic={}
    for word in wordList:
        if word in dic:
            dic[word]+=1
        else:
            dic[word]=1
    return dic
  # Please write your code here

In [9]:
countWords(["the", "seething", "sea", "ceaseth",
"and", "thus", "the", "seething", "sea", "sufficeth", "us"])

{'the': 2,
 'seething': 2,
 'sea': 2,
 'ceaseth': 1,
 'and': 1,
 'thus': 1,
 'sufficeth': 1,
 'us': 1}

## Exercise 5

In [10]:
def organizedCountWords(wordList):
    dic={}
    for word in wordList:
        dic.setdefault(len(word),{})
        if word in dic[len(word)]:
            dic[len(word)][word]+=1
        else:
            dic[len(word)][word]=1
    return dic

In [11]:
organizedCountWords(["the", "seething", "sea", "ceaseth","and", "thus", "the", "seething", "sea", "sufficeth", "us"])

{3: {'the': 2, 'sea': 2, 'and': 1},
 8: {'seething': 2},
 7: {'ceaseth': 1},
 4: {'thus': 1},
 9: {'sufficeth': 1},
 2: {'us': 1}}

## Exercise 6

In [40]:
def AvgNeighbourhoodListingPrice(neighbourhoodList, room_type, number_of_reviews, minimum_nights):
    data = pd.read_csv('https://raw.githubusercontent.com/MIE451-1513-2019/course-datasets/master/toronto_airbnb_listings_Aug2019.csv')
    filter_data=data[(data['minimum_nights']<=minimum_nights) 
                     &(data['number_of_reviews']>=number_of_reviews) 
                     &(data['room_type']==room_type)
                     &(data['neighbourhood'].isin(neighbourhoodList))]
    avg_price=filter_data.groupby('neighbourhood')['price'].mean().round(2)
    sort_price=avg_price.reset_index().sort_values('price',ascending=False).set_index('neighbourhood')
    return sort_price
  # Please write your code here

In [41]:
AvgNeighbourhoodListingPrice(["Edenbridge-Humber Valley","Annex","The Beaches"],"Entire home/apt", 30, 3)

                           price
neighbourhood
Edenbridge-Humber Valley  453.33
Annex                     141.99
The Beaches               126.24

## Exercise 7

In [49]:
def leastSquaresFit(urlX,urlY):
    X=pd.read_csv(urlX,header=None)
    y=pd.read_csv(urlY,header=None)
    X = np.c_[X, np.ones(X.shape[0])]
    weight = np.linalg.lstsq(X,y)[0]
    weight=np.delete(weight,-1)
    weight=weight.reshape(3,1)
    return weight

----------
## Validators
This following cell provide basic validation of your functions.

You should run each cell and make sure you do not get an exception.

**IMPORTANT: passing these validators does not mean your code is correct. These are basic validators to make sure the interface of your functions is correct.**

In [15]:
assert(isinstance(positionWord("example.txt", 2), list))

In [16]:
assert(isinstance(onlyUpperCase("lorem ipsum Dolor Sit amet, conSectetur."), str))

In [17]:
assert(isinstance(divisors(23, 6), list))

In [18]:
words = ["the", "seething", "sea", "ceaseth", "and", "thus", "the", "seething", "sea", "sufficeth", "us"]
assert(isinstance(countWords(words), dict))

In [19]:
words = ["the", "seething", "sea", "ceaseth", "and", "thus", "the", "seething", "sea", "sufficeth", "us"]
assert(isinstance(organizedCountWords(words), dict))

In [20]:
df = AvgNeighbourhoodListingPrice(["Little Portugal","Waterfront Communities-The Island","Rosedale-Moore Park","Kensington-Chinatown"], "Private room", 50, 4)
assert(df.shape == (4,1))

In [21]:
import pandas as pd
assert(isinstance(df,pd.DataFrame))

In [48]:
w = leastSquaresFit("https://raw.githubusercontent.com/MIE451-1513-2019/course-datasets/master/X.csv","https://raw.githubusercontent.com/MIE451-1513-2019/course-datasets/master/Y.csv")
assert(w.shape == (3, 1))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

F:\applications\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  """

In [23]:
assert(isinstance(w,np.ndarray))